<ul id="sortingOptions">
  <li class="first "><%= link_to "IMDB rating", films_path %></li>
  <li><%= link_to "Alphabetically", films_path %></li>
  <li class="active"><%= link_to "Calendar", '#' %></li>
</ul>

<ul id="calendar">
  <% @projection_days.each do |day, projections| %>
    <li class="day">
      <div class="calendarDay left">
        <div class="month">
          <%= day.strftime("%B") %>
        </div>
        <div class="day">
          <%= day.day %>
        </div>
      </div>
      <div class="projectedMovies left">
        <ul>
          <% projections.each do |projection| %>
            <%= render projection.film %>
          <% end %>
        </ul>
      </div>
      <div class="clear"></div>
    </li>
  <% end %>
</ul>