<ul id="sortingOptions">
  <li class="first "><%= link_to "IMDB rating", list_films_path(@list) %></li>
  <li><%= link_to "Alphabetically", list_films_path(@list) %></li>
  <li class="active"><%= link_to "Calendar", '#' %></li>
</ul>

<ul id="calendar">
  <% @projection_days.each do |day, projections| %>
    <li class="day" id="<%= day.strftime("%d-%m-%Y") %>">
      <div class="calendarDay left">
        <div class="month">
          <%= day.strftime("%B") %>
        </div>
        <div class="day">
          <%= day.day %>
        </div>
      </div>
      <div class="projectedMovies left">
        <ul class="movieList">
          <% projections.each do |projection| %>
            <%= render projection.film, :showtime => projection.showtime, :venue => projection.venue %>
          <% end %>
        </ul>
      </div>
      <div class="clear"></div>
    </li>
  <% end %>
</ul>