<li id="<%= dom_id(film) %>">
  <div class="rating left <%= rating_color(film.imdb_rating) %>">
    <% if film.imdb_rating.nil? || film.imdb_rating == 0.0 %>
      0.0
    <% else %>
      <%= film.imdb_rating %>
    <% end %>
  </div>
  <div class="title left">
    <% if film.festival_url %>
      <%= link_to film.title, film.festival_url %>
    <% else %>
      <%= film.title %>
    <% end %>
  </div>
  <div class="left details">
    <% if film.imdb_url.present? %>
      (<%= link_to "imdb", film.imdb_url %>
      <% if film.trailer_url %>
        | <%= link_to "trailer", film_path(film), :remote => true %>
      <% end %>)
    <% end %>
  </div>
  <div class="left details country">
    <%= film.country %>
  </div>
  <div class="left details genre">
    <%= film.genre %>
  </div>
  <div class="left details director">
    <%= "- #{film.director}" if film.director.present? %>
  </div>
  <div class="clear"></div>
</li>