<!DOCTYPE html>
<html>
<head>
  <title>CPH PIX 2011 Films</title>
  <%= stylesheet_link_tag 'screen', 'flick/jquery-ui-1.8.11.custom' %>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui-1.8.11.custom.min', 'rails', 'sorter', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="dialog"></div>
<div id="top">
  <h1><%= link_to "CPH:PIX 2011", films_path %></h1>
  <div id="user_login">
    <% if current_user %>
      <%= link_to current_user.name, "/users/#{current_user.secret_id}" %> | 
      <%= link_to "Sign Out", signout_path %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook" %>
    <% end %>
  </div>
</div>

<%= yield %>

<div id="footer">
  <p>This site is not affiliated with CPH:PIX, the information you find here might not be accurate -
    <a href="http://twitter.com/vaucherb">Twitter</a> - 
    <a href="http://flattr.com/thing/153617/Pixs" target="_blank">Flattr this!</a> -
    <a href="https://github.com/bastien/pixs">Fork me on Github!</a>
  </p>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22233227-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
