<!DOCTYPE html>
<html>
<head>
  <title>PIXS<%= " - " + @list.name if @list && @list.persisted? %></title>
  <%= stylesheet_link_tag 'screen', 'flick/jquery-ui-1.8.11.custom' %>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui-1.8.11.custom.min', 'rails', 'sorter', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="dialog"></div>
<div id="top">
  <h1>
    <%= link_to "PIXS", lists_path %>
    <%= link_to "<em>[</em>".html_safe + " #{@list.name} "+ "<em>]</em>".html_safe, list_films_path(@list) if @list && @list.persisted? %>
  </h1>
  <div id="user_login">
    <% if current_user %>
      <%= link_to current_user.name, "/users/#{current_user.secret_id}" %> | 
      <%= link_to "Sign Out", signout_path %>
    <% else %>
      <%#= link_to "Sign in with Facebook", "/auth/facebook" %>
    <% end %>
  </div>
</div>

<%= content_tag :div, notice, :class => "notice", :id => "flash"  unless notice.blank? %>
<%= content_tag :div, alert, :class => "alert", :id => "flash"    unless alert.blank? %>

<%= yield %>

<div id="footer">
  <p>Please be aware that the information you find here might not be accurate -
    <a href="http://twitter.com/vaucherb">Twitter</a> - 
    <a href="http://flattr.com/thing/153617/Pixs" target="_blank">Flattr this!</a> -
    <a href="https://github.com/bastien/pixs">Fork me on Github!</a>
  </p>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22233227-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
